.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
	text-align: center
}

img {
	display: inline;
	border-style: outset;
	height: 300px;
	width: 300px;
}

video {
	display: inline;
	border-style: outset;
	height: 300px;
	width: 300px;
}

#media-img {
	border-style: double;
	
	height: 350px;
	width: 305px;
	display: inline-block;
}

div {
  margin-right: 40px;
  margin-top: 40px;
}

input {
	width: 600px;
}
